*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #3f21;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    width: 80%;
    height: 80%;
    box-shadow: 3px 3px 8px black;
}
.clip{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.clip:hover{
    clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 94%);
}

#clip1:hover,
#clip2:hover,
#clip3:hover{
    z-index: 5;
    clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 100%);
}

#clip1{
  background-image: url(background/Peaky\ Blinder\ Suits.jpeg);
    clip-path: polygon(0% 0% ,30% 0% , 53% 100% ,0% 100%);
}
#clip2{
    z-index: 3;
    background-image: url(background/krishna\ radha.jpeg);
    clip-path: polygon(27% 0 ,70% 0, 60% 100% , 37% 100%);
}
#clip3{
    background-image: url(background/spider\ man.jpeg);
    clip-path: polygon(65% 0% , 100% 0, 100% 100% , 40% 100%);
}