* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.outer {
    font-size: 3vw;
    font-family: sans-serif;
    font-weight: 700;
}

.inner {
    position: relative;
    height: 40px;
    width: 500px;
    line-height: 40px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner h1 {
    position: absolute;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 700;
    color: crimson;
    animation-name: anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    top: 10px;
    left: 0;
}

@keyframes anim {

    0%,
    25%,
    100% {
        top: 0;
    }

    25%,
    50% {
        top: -40px;
    }

    50%,
    75% {
        top: -80px;
    }

    75%,
    95% {
        top: -120px;
    }

}