*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(188, 159, 164);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 600px;
    height: 600px;
    border: 2px dotted white;
    position: relative;
}
.upload{
    padding: 10px 30px;
    text-align: center;
    font-family: sans-serif;
    color: white;
}
.upload input{
    margin-top: 40px;
    font-size: 1.2vw;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.img img{
    background-position: center;
    background-size: cover;
     width: 100%;
    height: 100%;
    
}
.img h1{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: sans-serif;
    color: white;
}


.img.active{
    display: block;
}
