*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.container{
    position: relative;
    height: 100Vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(Peaky\ Blinder\ Suits.jpeg);
    clip-path: circle(150px at var(--1) var(--2));
}